<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--    $Id$    -->
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.opml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OPMLdoc.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/opml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OPML Outline</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OPML</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Any file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.root</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TABL</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier Root</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.2clk</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>2CLK</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier Desktop Script (2CLK)</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.card</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CARD</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier Iowa Card</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.fatp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier Fat Page</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FATP</string>
				<string>.FAT</string>
				<string>FAT </string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.ftop</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FTop</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier Outline</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.ftsc</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FTsc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier Script</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.ftwp</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FTwp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier WP Text</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.ftmb</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FTmb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier Menu Bar</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.fttb</string>
	</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FTtb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier Table</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.ftpc</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FTpc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier Picture</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.ftds</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FTds</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Frontier Desktop Script</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${PRODUCT_NAME_STR}</string>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_VERSION_STR}; © 1992-${COPYRIGHT_YEAR_STR} Scripting News, Inc.</string>
	<key>CFBundleIconFile</key>
	<string>OPML.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.scripting.OPML</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME_STR}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${PRODUCT_VERSION_STR}</string>
	<key>CFBundleSignature</key>
	<string>OPML</string>
	<key>CFBundleVersion</key>
	<string>${PRODUCT_VERSION_STR}</string>
</dict>
</plist>
